In [2]:
import pandas as pd
import os
import shutil
import json

In [3]:
paths = ['./images/train', './images/val', './labels/train', './labels/val']
for path in paths:
  if os.path.exists(path):
    shutil.rmtree(path)
  os.makedirs(path)

In [10]:
X = pd.read_csv('../input/global-wheat-detection/train.csv')
X.head()

    image_id  width  height                         bbox   source
0  b6ab77fd7   1024    1024   [834.0, 222.0, 56.0, 36.0]  usask_1
1  b6ab77fd7   1024    1024  [226.0, 548.0, 130.0, 58.0]  usask_1
2  b6ab77fd7   1024    1024  [377.0, 504.0, 74.0, 160.0]  usask_1
3  b6ab77fd7   1024    1024  [834.0, 95.0, 109.0, 107.0]  usask_1
4  b6ab77fd7   1024    1024  [26.0, 144.0, 124.0, 117.0]  usask_1

In [11]:
len(X)

147793

In [12]:
X = X[:6000]
X

       image_id  width  height                         bbox     source
0     b6ab77fd7   1024    1024   [834.0, 222.0, 56.0, 36.0]    usask_1
1     b6ab77fd7   1024    1024  [226.0, 548.0, 130.0, 58.0]    usask_1
2     b6ab77fd7   1024    1024  [377.0, 504.0, 74.0, 160.0]    usask_1
3     b6ab77fd7   1024    1024  [834.0, 95.0, 109.0, 107.0]    usask_1
4     b6ab77fd7   1024    1024  [26.0, 144.0, 124.0, 117.0]    usask_1
...         ...    ...     ...                          ...        ...
5995  d1effa7a5   1024    1024   [139.0, 281.0, 87.0, 61.0]  arvalis_1
5996  d1effa7a5   1024    1024     [495.0, 0.0, 37.0, 33.0]  arvalis_1
5997  f121ee695   1024    1024               [0, 0, 93, 93]  arvalis_1
5998  f121ee695   1024    1024            [105, 0, 164, 59]  arvalis_1
5999  f121ee695   1024    1024            [378, 0, 104, 97]  arvalis_1

[6000 rows x 5 columns]

In [13]:
images = X.image_id.unique()
train_idx=int(0.9*len(images))
val_images = set(images[train_idx:])

In [14]:
len(val_images)

21

In [15]:
for index, (image_id, w, h, bbox, _) in X.iterrows():
  [xmin, ymin, width, height] = json.loads(bbox)
  group = 'val' if image_id in val_images else 'train'
  shutil.copyfile(f"../input/global-wheat-detection/train/{image_id}.jpg", f"./images/{group}/{image_id}.jpg")
  x_center = (xmin + width / 2) / w
  w_norm = width / w
  y_center = (ymin + height / 2)  / h
  h_norm = height / h
  label = f'0 {x_center} {y_center} {w_norm} {h_norm}\n'
  with open(f"./labels/{group}/{image_id}.txt", 'a+') as f:
    f.write(label)